<div class="card mt-5">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate (ngSubmit) = "onSubmit()">
        <div class="form-group">
          <label class="col-md-4">Patient Name</label>
          <input type="text" class="form-control"
            formControlName="PatientName"
            #PatientName />
        </div>
        <div *ngIf="angForm.controls['PatientName'].invalid && (angForm.controls['PatientName'].dirty || angForm.controls['PatientName'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['PatientName'].errors.required">
            Patient Name is required.
          </div>
        </div>

          <div class="form-group">
            <label class="col-md-4">Patient BirthDate</label>
            <input type="datetime" class="form-control" formControlName="PatientBirthdate" #PatientBirthdate type="date"/>
          </div>

          <div *ngIf="angForm.controls['PatientBirthdate'].invalid && (angForm.controls['PatientBirthdate'].dirty || angForm.controls['PatientBirthdate'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['PatientBirthdate'].errors.required">
              Patient Birthdate is required.
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4">Start Date</label>
            <input type="datetime" class="form-control" formControlName="StartDate" #StartDate type="datetime-local" />
          </div>

          <div *ngIf="angForm.controls['StartDate'].invalid && (angForm.controls['StartDate'].dirty || angForm.controls['StartDate'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['StartDate'].errors.required">
              Start is required.
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4">End Date</label>
            <input type="datetime" class="form-control" formControlName="EndDate" #EndDate type="datetime-local" />
          </div>

          <div *ngIf="angForm.controls['EndDate'].invalid && (angForm.controls['EndDate'].dirty || angForm.controls['EndDate'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['EndDate'].errors.required">
              Start is required.
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4">Observations</label>
            <textarea class="form-control" rows = 7 cols = "5"
            formControlName="Observations"
            #Observations></textarea>
          </div>
          <div class="form-group">
            <button (click) = "addAppointment(PatientName.value, PatientBirthdate.value, StartDate.value, EndDate.value, Observations.value)" type="submit"
            class="btn btn-primary float-right" [disabled]="angForm.pristine || angForm.invalid" >
              <i class="fa fa-plus-circle fa-lg"></i>
              Create Appointment
            </button>
            <a routerLink="/appointments" class="btn btn-light float-right mr-2 text-muted" routerLinkActive="active">
              <i class="fa fa-arrow-circle-left" ></i>
              Cancel
            </a>
          </div>
      </form>
    </div>
  </div>
