<table class="table table-striped mt-5">
  <thead class="thead-dark bg-dark text-white">
  <tr>
      <td>Patient Name</td>
      <td>Patient Birthdate</td>
      <td>Start Date</td>
      <td>End Date</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.patientName }}</td>
          <td>{{ appointment.patientBirthdate }}</td>
          <td>{{ appointment.startDate }}</td>
          <td>{{ appointment.endDate }}</td>
          <td>
            <a [routerLink]="['/edit', appointment.id]" class="btn btn-outline-warning">
              <i class="fa fa-edit" style="color:black"></i>
          </a>
          </td>
          <td>
            <a (click) = "deleteAppointment(appointment.id)" class="btn btn-outline-danger">
              <i class="fa fa-trash" style="color:black"></i>
            </a>
          </td>
      </tr>
  </tbody>
</table>
